@model Site.Models.BossListDayModel

<section class="day">
    <div class="crew-day"><h3>@Model.Date</h3></div>
    @foreach (var crew in Model.Crews) {
        @Html.Partial("~/Views/WorkOrders/DisplayTemplates/BossListCrewModel.cshtml", crew);
    }
</section>