@model Site.Models.BossListCrewModel

<div class="crew-day">
    <h2>@Model.Crew.Name</h2>
    
    @foreach(var workOrder in Model.WorkOrders) {
        @Html.Partial("~/Views/WorkOrders/DisplayTemplates/BossListWorkOrderModel.cshtml", workOrder);   
    }
</div>