@model Site.Models.BossListWorkOrderModel

<div class="tile @Model.TileClass">
    <div class="tile-content">
        <h3>@Model.Customer</h3>
        <p>@Model.Description</p>
        <div class="brand">
            <div class="badge">3h</div>
        </div>
    </div>
</div>