@model Site.Models.WorkOrder

<div class="tile quadro bg-color-green">
    <div class="tile-content">
        <h2>@Model.Category.Name</h2>
        <h5>@Model.AssignedTo</h5>
        <p>@Model.Description</p>
        <div class="brand">
            <div class="badge">@Model.DateDisplay</div>
            <img class="icon" src="http://metroui.org.ua/images/Mail128.png" />
        </div>
    </div>
</div>