body {
    font: 15px Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 24px;
}
.masthead {
    margin: 60px auto;
    max-width: 720px;
    text-align: center;
}
h1 {
    font-size: 72px;
    margin-bottom: 20px;
    line-height: 1;
    color: #de3000;
}
.masthead.btn,
.masthead input {
    font-size: 21px;
    padding: 14px 24px;
}
.modal h3 {
    color: #de3000;
}

@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
}

.purple-stripe {
    border-left: 3px solid #852b99;
}

.tile {
    width: 100%;
    background-color: #2d89ef !important;
}
.tile h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tile .tile-content p {
    max-height: 32px; /* 16px line-height x 2 */
}

.crew-day {
    float: left;
    width: 20%;
    padding: 10px;    
    overflow: hidden;
}
.crew-day .date {
    text-align: right;
    padding-right: 10px;
}

.day, .day-header {
    width: 100%;
    border-top: 1px solid #ddd;
    height: 180px;
}
.day-header {
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.day-header + * {
    margin-top: 100px;
}
.day-header h2 {
    padding: 0;
    margin: 0;
}