body {
    font: 15px Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 24px;
}
.masthead {
    margin: 60px auto;
    max-width: 720px;
    text-align: center;
}
h1 {
    font-size: 72px;
    margin-bottom: 20px;
    line-height: 1;
    color: #de3000;
}
.masthead.btn,
.masthead input {
    font-size: 21px;
    padding: 14px 24px;
}
.modal h3 {
    color: #de3000;
}

@media (max-width: 979px) {
    h1 {
        font-size: 48pt;
    }
    h3 {
        font-size: 12pt;
    }
}

.purple-stripe {
    border-left: 3px solid #852b99;
}

.tile {
    width: 100%;    
    min-height: 120px;
}
.tile.construction {
    background-color: #00a300 !important;
}
.tile.construction .brand img {
    background-image: url(/img/Installation.png);
    background-repeat: no-repeat;
}
.tile.maintenance {
    background-color: #2d89ef !important;
}
.tile.maintenance .brand img {
    background-image: url(/img/Maintenance.png);
    background-repeat: no-repeat;
}
.tile h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tile .tile-content p {
    max-height: 32px; /* 16px line-height x 2 */
}

.boss-list .page-region, .crew-list .page-region {
    margin-top: 160px;
}

.crew-day {
    float: left;
    width: 20%;
    padding: 10px;    
    overflow: hidden;
}

.day > .crew-day > h2 {
    display: none;
}
@media (max-width: 480px) {
    .crew-day {
        width: 100%;
    }

    .day > .crew-day > h2 {
        display: block;
    }

    body.boss-list header,
    body.crew-list header {
        display: none;
    }
}
.crew-day .date {
    text-align: right;
    padding-right: 10px;
}

.day {
    width: 100%;
    border-top: 1px solid #ddd;
    min-height: 180px;
}
body.boss-list header, 
body.crew-list header {
    width: 100%;
    height: 100px;
    margin-bottom: 60px;
    top: 0;
    z-index: 10;
    background-color: #eff4ff;
}
body.boss-list header .crew-day {
    height: 100px;
}
body.boss-list header.header-fixed,
body.crew-list header.header-fixed {
    position: fixed;
    border-bottom: 1px solid #ddd;
}
body.boss-list header .toolbar {
    height: 60px;
    width: 100%;
    z-index: 10;
    background-color: transparent;
}
body.boss-list header.header-fixed .toolbar {
    position: absolute;
    top: 100px;
}
body.boss-list header h2,
body.crew-list header h2 {
    padding: 0;
    margin: 0;
}
.toolbar a.button {
    width: auto;
    padding-right: 10px;
}
.toolbar a.new {
    color: #fff;
    font-size: 20pt;
    background-color: #9f00a7;
    border: solid 1px #1d1d1d;
    padding: 10px;
    height: 50px;
}

body.crew-list .crew-day {
    width: 20%;
}

.affix {
    position: fixed;
}

.metrouicss label.checkbox.input-control.span7 {
    display: block;
}