body {
    font: 15px Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 24px;
}
.masthead {
    margin: 60px auto;
    max-width: 720px;
    text-align: center;
}
h1 {
    font-size: 72px;
    margin-bottom: 20px;
    line-height: 1;
    color: #de3000;
}
.masthead.btn,
.masthead input {
    font-size: 21px;
    padding: 14px 24px;
}
.modal h3 {
    color: #de3000;
}

@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
}

.purple-stripe {
    border-left: 3px solid #852b99;
}


.tile .tile-content .brand {
    padding-bottom: 10px;
    padding-right: 15px;
}
.tile .tile-content .brand .badge {
    width: 50%;
    text-align: right;
}

.tile .tile-content .brand img {
    height: 20px;
}