@model Site.Models.BossListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <link rel="stylesheet" href="/css/modern.css" />
    <link rel="stylesheet" href="/css/modern-responsive.css" />
    <link rel="stylesheet" href="/css/app.css" />

    <script src="/js/jquery-1.9.0.js"></script>
    <script src="/js/scrollToFixed.js"></script>
</head>
<body class="boss-list metrouicss">
    <div class="tour-wrapper">        
        <section class="message info-bar">
            <button class="hide-tour place-right tool-button toolbar"><i class="icon-cancel-2"></i> </button>
            This is the message content
        </section>
        <section class="content">
            <div class="page">
                <div class="page-header">
                    <div class="page-header-content">
                        <h1>@Model.Title</h1>
                        <button class="show-tour place-right"><i class="icon-comments-5"></i> Show Tour</button>                        
                    </div>
                </div>
                <div class="page-region">
                    <div class="page-region-content">
                
                        @Html.Partial("~/Views/WorkOrders/DisplayTemplates/BossListHeader.cshtml", Model)
                    
                        @foreach (var day in Model.Days) {
                            @Html.Partial("~/Views/WorkOrders/DisplayTemplates/BossListDayModel.cshtml", day);
                        }
                
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
    $(function () {
        if (window.location.hash.indexOf('tour') === -1) {
            $('header').scrollToFixed();
        } else {
            $('.tour-wrapper').addClass('tour');
            window.setTimeout(function () {
                $('header').scrollToFixed({ marginTop: 150, zIndex: 1003 });
            }, 250);
        }

        $('.show-tour').click(function (e) {
            e.preventDefault();

            $('.tour-wrapper').addClass('tour');
            window.location.hash = 'tour';
            $('header').trigger('detach.ScrollToFixed').scrollToFixed({ marginTop: top, zIndex: 1003 });
        });

        $('.hide-tour').click(function (e) {
            e.preventDefault();

            $('.tour-wrapper').removeClass('tour');
            window.location.hash = '';
            $('header').trigger('detach.ScrollToFixed').scrollToFixed();
        });
    });
    </script>
</body>
</html>
